Tuples and Sets

In [1]:
#Tuples
tuples=(1,2,3,4,5)
print(tuples)

(1, 2, 3, 4, 5)

In [2]:
print(type(tuples))

<class 'tuple'>

In [3]:
tuple=(1,)
print(type(tuple))

<class 'tuple'>

---
Tuples Access and Modification

In [7]:
tuples=(0,9,8,7,6,5,4)
print(tuples[-3:])
print(tuples[-5])

(6, 5, 4)
8

Tuples Operation and Function

In [9]:
tuple1=(1,2,3,4,5)
tuple2=(6,7,8,9,10)
print(tuple1+tuple2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [10]:
#len()
#max()
#min()
#tuple()

tuple=(2,4,6,8,10)
print(len(tuple1))
print(max(tuple1))
print(min(tuple1))

5
5
1

Tuples Unpacking

In [11]:
tuple=(2,5,9)
a,b,c=tuple
print(a,b,c)

2 5 9

SET

In [13]:
#creating a set
set1={1,2,3,4,2,3,5}
set2={"a","b","c","d"}
print(set1)
print(set2)

{1, 2, 3, 4, 5}
{'a', 'b', 'c', 'd'}

In [14]:
set([4,3,5,6])

{3, 4, 5, 6}

Accessing set items

In [17]:
#for loop
set={"a","b","c","d"}
for i in set:
  print(i,end=" ")

a b c d

In [19]:
#list Comprehension

set={i for i in range(10)}
print(set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

Add Items in Set

In [21]:
#add()
set={1,2,3,4,5}
set.add("Apple")
print(set)

{1, 2, 3, 4, 5, 'Apple'}

In [22]:
#update() Multiple Element Add
set={1,2,3,4,5}
set.update([6,7,8,"Apple","Banana"])
print(set)

{1, 2, 3, 4, 5, 6, 7, 8, 'Apple', 'Banana'}

Removing Set Items

In [23]:
#remove() discard()
set={1,2,3,4,5}
set.remove(3)
print(set)

{1, 2, 4, 5}

In [24]:
#pop()
set={1,2,3,4,5}
set.pop()
print(set)

{2, 3, 4, 5}

In [26]:
#clear()
set={1,2,3,4,5}
set.clear()
print(set)

set()

Set Operation

In [28]:
#union
set1={1,2,3,4,5}
set2={4,5,6,7,8,9,10}
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [29]:
#intersection
set1={1,2,3,4,5}
set2={4,5,6,7,8,9,10}
print(set1.intersection(set2))

{4, 5}

In [31]:
#difference
set1={1,2,3,4,5}
set2={4,5,6,7,8,9,10}
print(set1.difference(set2))

{1, 2, 3}